<h1>Product Name</h1>
<br><br>
<% prdcat = Product.paginate(:page => params[:page], :per_page => 5).where({ :Category => params[:Category]}).order("ProductName") %>
<% prdcat.each do | prd | %>
  <h1><%= link_to prd.ProductName, products_path + "/" + prd.id.to_s %> </h1>
<% end %>
    <div class="store_pagination">
      <%= will_paginate prdcat %>
    </div>
