<h1>Upload Product Catalog</h1>
<%= form_tag import_path, multipart: true do %>
  <%= file_field_tag :file , class: "btn btn-lg btn-primary", width: "100" %>
  <br>
  <%= submit_tag "Trigger Import", class: "btn btn-lg btn-primary" %>
<% end %>
