<p id="notice"><%= notice %></p>

<% @products.distinct(:Category).pluck(:Category).sort.each do |category| %>
   <h1> <%= category %> </h1>
<% end %>

<h1>Listing Products</h1>


<table>
  <thead>
    <tr>
      <th>Productid</th>
      <th>Category</th>
      <th>Productname</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.ProductID %></td>
        <td><%= product.Category %></td>
        <td><%= product.ProductName %></td>
        <td><%= product.Price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
