<p id="notice"><%= notice %></p>

<h1>Product Categories</h1>
<br>
<br>
<% if @products.count == 0 %>
    <p>Product Categories not loaded. Click Link below for upload page</p>
    <h1><%= link_to "Import Products",    start_path %></h1>
<% end %>
<% @products.distinct(:Category).pluck(:Category).sort.each do |category| %>
   <h1><%= link_to category.to_s, bycat_path(:Category => category) %></h1>
<% end %>

