<p id="notice"><%= notice %></p>

<h1>Product Details</h1>

<p .uneditable-input>
  <strong>Productid:</strong>
  <%= @product.ProductID %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.Category %>
</p>

<p>
  <strong>Productname:</strong>
  <%= @product.ProductName %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.Price %>
</p>

