<footer class="footer">
  <small>
    Online Store App developed by Hardik Joshi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
    </ul>
  </nav>
</footer>