<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Welcome to Online Store", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Product Categories",    root_path %></li>
        <li><%= link_to "Import Products",    start_path %></li>
        <li><%= link_to "Log in", root_path %></li>
      </ul>
    </nav>
  </div>
</header>